{% extends 'ecommerce/base.html' %}

{% block content %}

<style>

.products {
  margin-top: 2%;
  margin-left: 5%;
  border: 3px solid black;
  padding-top: 10px;
}

.products h1 {
  padding-left: 2%;
  padding-bottom: 10px;
  border-bottom: 3px solid;
}

.product {
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}

.product img {
  width: 300px;
  height: 150px;
}

.addresses-select {
  margin-top: 50px;
  margin-left: 5%;
  margin-bottom: 50px;
}

.addresses-select button {
  margin-top: 25px;
  font-size: 24px;
  width: 100px;
  height: 50px;
}

</style>

<div class="products">
    <h1>Order Summary</h1>
    {% for product_entry in cart.products.all %}
    <div class="product">
        {% with product_gallery=product_entry.product.images.all|first %}
        <img src="{{ product_gallery.image.url }}" alt="{{product_entry.product.title}}">
        {% endwith %}
        <h3>{{ product_entry.product.title }}</h3>
        <span>{{ product_entry.quantity }}</span>
        <div class="pricing">
                {% if product.get_discounted_price == prodcut_entry.get_original_price %}
                <span class="price original-price"><del>{{ product_entry.get_original_price }}</del></span>
                <span class="discounted-price price">{{ product_entry.get_discounted_price }}</span>
                {% else %}
                <span class="price">{{ product_entry.price }}</span>
                {% endif %}
        </div>
    </div>
    <hr>
    {% endfor %}
</div>
<div class="addresses-select">
    <form method="post" action="{% url 'orders:order' %}" class="post-form">{% csrf_token %}
        {% for address in addresses %}
        <input type="radio" name="address" id="{{ address.pk }}" value="{{ address.pk }}">
        <label for="{{ address.pk }}">{{ address.get_short_address }}</label><br>
        <hr>
        {% endfor%}
        {% if addresses %}
        <button type="submit">Order</button>
        {% else %}
        <a href="{% url 'addresses:create' %}">Add Address</a>
        {% endif %}
    </form>
</div>
{% endblock %}