{% extends 'ecommerce/base.html' %}

{% block content %}

<style>
.products {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column */
.products,
.products > .product {
  padding: 8px;
}

.product {
  float: left;
  width: 20%;
}

.products:after {
  content: "";
  display: table;
  clear: both;
}

.content {
  background-color: white;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.product-image {
  width: 100%;
  height: 150px;
}

.pricing {
}

.price {
  color: black;
  font-weight: bold;
  font-size: 22px;
}

.discount {
  color: green;
}

.original-price {
  color: grey;
  font-weight: normal;
}

.discounted-price {
  color: black;
}

.content button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.content button:hover {
  opacity: 0.7;
}

@media screen and (max-width: 900px) {
  .product {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .product {
    width: 100%;
  }
}

</style>

<div class="ads-showpiece-banner">

</div>
<div class="new latest products">
    <h3 class="Heading" style="text-align:center; font-size: 50px">Latest Arrivals</h3>
    {% for product in latest_products %}
    <div class="product">
        <div class="content">
            {% with product_gallery=product.images.all|first%}
            <a href="{% url 'products:detail' product.pk %}">
                <img class="product-image" src="{{product_gallery.image.url}}" alt="{{ product.title }}">
            </a>
            {% endwith %}
            <h3>{{ product.title }}</h3>
            <div class="pricing">
                {% if product.discount_percentage != 0 %}
                <span class="discount">{{product.discount_percentage}}%</span>
                <span class="price original-price"><del>{{ product.price }}</del></span>
                <span class="discounted-price price">{{ product.get_discounted_price }}</span>
                {% else %}
                <span class="price">{{ product.price }}</span>
                {% endif %}
            </div>
            <form action="{% url 'carts:update' %}" method="post">{% csrf_token %}
                <input type="number" name="product_key" value="{{product.pk}}" hidden>
                <input type="number" name="product_quantity" value="1" hidden>
                <p><button>Add to Cart</button></p>
            </form>
        </div>
    </div>
    {% endfor %}
</div>
<div class="sale discounted products">
    <h3 style="text-align:center; font-size: 50px">On Sale</h3>
    {% for product in discounted_products %}
    <div class="product">
        <div class="content">
            {% with product_gallery=product.images.all|first%}
            <a href="{% url 'products:detail' product.pk %}">
                <img class="product-image" src="{{product_gallery.image.url}}" alt="{{ product.title }}">
            </a>
            {% endwith %}
            <h3>{{ product.title }}</h3>
            <div class="pricing">
                {% if product.discount_percentage != 0 %}
                <span class="discount">{{product.discount_percentage}}%</span>
                <span class="price original-price"><del>{{ product.price }}</del></span>
                <span class="discounted-price price">{{ product.get_discounted_price }}</span>
                {% else %}
                <span class="price">{{ product.price }}</span>
                {% endif %}
            </div>
            <form action="{% url 'carts:update' %}" method="post">{% csrf_token %}
                <input type="number" name="product_key" value="{{product.pk}}" hidden>
                <input type="number" name="product_quantity" value="1" hidden>
                <p><button>Add to Cart</button></p>
            </form>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}