{% extends 'ecommerce\base.html' %}

{% block content %}

<style>

.address-list {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

table {
  border-collapse: collapse;
  margin-bottom: 50px;
}

table th, tr {
  height: 75px;
  border-bottom: 1px solid black;
}

a {
  text-decoration: None;
}

</style>

<div class="address-list">
    <h1>Addresses</h1>
    <table>
        {% for address in addresses %}
        <tr>
            <td>
                <div class="address">
                    {{address.get_address}}
                    <p class="address-update-link">
                        <a href="{% url 'addresses:detail' address.pk %}">view</a> <b> | </b>
                        <a href="{% url 'addresses:update' address.pk %}">edit</a> <b> | </b>
                        <a href="{% url 'addresses:delete' address.pk %}">delete</a>
                    </p>
                </div>
            </td>
        </tr>
        {% endfor %}
    </table>
    <a href="{% url 'addresses:create' %}">Add Address</a>
</div>

{% endblock %}