{% extends 'ecommerce\base.html' %}

{% block content %}

<style>

.address {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  padding: 50px;
  font-size: 18px;
}

input {
  width: 250px;
  font-size: 18px;
  margin-left: 10px;
  margin-bottom: 10px;
  padding: 7px;
}

select {
  width: 250px;
  font-size: 18px;
  margin-left: 10px;
  margin-bottom: 10px;
  padding: 7px;
}

.btn {
  height: 40px;
  width: 300px;
  color: white;
  background-color: green;
}

</style>

<div class="address">
    <div class="update-address">
        <h1>Update Address</h1>
        <form method="post" class="post-form">{% csrf_token %}
            {{form.as_p}}
            <button class="btn" type="submit">Update</button>
        </form>
    </div>
</div>
{% endblock %}